tou<div class="brand">Tune My Piano</div>
<div class="address-bar">Pairing your Piano with the perfect Technician</div>

<!-- NAVIGATION -->
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		Brand and toggle are grouped for better mobile display
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span></span>
			</button>
		</div>
</nav>


















<div class="navbar">
	<ul>
		<li><a href="#intro">Home</a></li>
		<li><a href="#request">Request</a></li>
		<li><a href="#claim2">Claim</a></li>
		<li><a href="#sign-up">Sign Up</a></li>
		<li><a href="#register">Register</li>	
	</ul>
</div>

